.content {
  display: flex;
  margin: 4% 0 4% 0;
}

.syoukai {
  width: 100%;
  height: 100px;
  margin: 2% 2% 2% 0;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 200px;
  height: 200px;
  margin-right: 2%;
  border-radius: 8px;
}

.image {
  margin-left: 2%;
}
