.content1 {
  display: flex;
}

.content1 img {
  width: 300px;
  height: 200px;
  margin-right: 2%;
  border-radius: 8px;
}

.content1 ul {
  list-style: none;
}

.content1 li {
  margin-bottom: 12%;
}

.container {
  display: flex;
}

.sns {
  width: 10%;
  margin-top: 100%;
}
